.git
.gitignore
.env
.env.local
*.log
node_modules
**/node_modules
**/dist
**/.next
**/out
**/build
**/.turbo
.DS_Store
.vscode
.idea
coverage
**/coverage
**/.nyc_output
docker-compose.yml
README.md
docs
